#programming general
*~
.*.swp
*.o
*.a
*.so
*.bak

#automake
.deps
aclocal.m4
autom4te.cache
autoscan.log
config.status

#kdevelop
*.kdevelop.pcs
*.kdevses


#project specific
Makefile
config.log
libtool
.libs
config.h
*.lo
*.la
stamp-h1
pbc

src/maximalexer.cpp
src/maximaparser.cpp
src/maximaparser.h
src/pblexer.cpp
src/pbparser.cpp
src/pbparser.h
src/matrixreader.cpp
src/cxxconfig.h
maxima.log
schedule.pdf

test
tmp

A
B
C
D
E
F
AB

jtimings.csv
stlsorttest
doc/api
