#programming general
*~
.*.swp
.swp
.*.swo
.swo
*.o
*.a
*.so
*.bak
*.pyc
tags

#automake
.deps
aclocal.m4
autom4te.cache
autoscan.log
config.status

#kdevelop
*.kdevelop.pcs
*.kdevses

parsetab.py


#project specific
Makefile
config.log
libtool
.libs
config.h
*.lo
*.la
stamp-h1
pbc
*.cache

maxima.log
schedule.pdf
schedule_initial.pdf
parser.out

Makefile.in
configure

test
rttest1
rttest2
regiondatatest
regionmatrixtest
regionremotetest
migrationtest
tmp

A
B
C
D
E
F
AB

jtimings.csv
stlsorttest
doc/api

.exrc
.aliases

\#*\#

perflogs
confdefs
*.latest

