graphicx.aux
pbslides.aux
pbslides.bbl
pbslides.blg
pbslides.deps
pbslides.fls
pbslides.log
pbslides.nav
pbslides.out
pbslides.snm
pbslides.toc
pbslides.vrb
pbslides.pdf
graphicx2.aux
pbslides2.aux
pbslides2.bbl
pbslides2.blg
pbslides2.deps
pbslides2.fls
pbslides2.log
pbslides2.nav
pbslides2.out
pbslides2.snm
pbslides2.toc
pbslides2.vrb
pbslides2.pdf
